<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Administración de Cursos</title>
</h:head>
<h:body>
<p:menubar>
<p:menuitem value="Listar Cursos" url="list_courses.xhtml" icon="ui-icon-close" />
<p:menuitem value="Alta de cursos" url="save_course.xhtml" icon="ui-icon-close" />
</p:menubar>
</h:body>
</html>