<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<title>Administración de Cursos</title>
</h:head>
<h:body>

	<h:form>

		<p:menubar>
			<p:menuitem value="Listar Cursos" url="list_courses.xhtml"
				icon="ui-icon-close" />
			<p:menuitem value="Alta de cursos" url="save_course.xhtml"
				icon="ui-icon-close" />
		</p:menubar>

		<p:dialog modal="true" widgetVar="statusDialog" header="Status"
			draggable="false" closable="false" resizable="false">
			<p:graphicImage name="/images/ajax-loader.gif" />
		</p:dialog>

		<p:dataTable var="course" value="#{courseList.courses}" rows="10"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15"
			selection="#{courseList.selectedCourse}" selectionMode="single"
			rowKey="#{course.id}"
			style="margin-bottom:20px;margin-top:20px">
			<f:facet name="header">Cursos</f:facet>
			<p:column headerText="Título" filterBy="#{course.title}"
				sortBy="#{course.title}">
				<h:outputText value="#{course.title}" />
			</p:column>

			<p:column headerText="Nivel">
				<h:outputText value="#{course.level}" />
			</p:column>

			<p:column headerText="Nº de horas">
				<h:outputText value="#{course.numHours}" />
			</p:column>

			<p:column headerText="Temario">
				<p:commandButton action="#{courseList.downloadAction}"
					disabled="#{!course.agenda}" ajax="false"
					onclick="PrimeFaces.monitorDownload(start, stop);"
					icon="ui-icon-arrowthick-1-s">
					<p:fileDownload value="#{courseList.dFile}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
	<script type="text/javascript">
		function start() {
			PF('statusDialog').show();
		}

		function stop() {
			PF('statusDialog').hide();
		}
	</script>
</h:body>
</html>