<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Administración de Cursos</title>
</h:head>
<h:body>
	<h:form enctype="multipart/form-data">
		<p:menubar>
			<p:menuitem value="Listar Cursos" url="list_courses.xhtml"
				icon="ui-icon-close" />
			<p:menuitem value="Alta de cursos" url="save_course.xhtml"
				icon="ui-icon-close" />
		</p:menubar>
		<p:fieldset legend="Añadir curso"
			style="margin-bottom:20px;margin-top:20px">
			<h:panelGrid columns="2" cellpadding="5" class="ui-grid">
				<p:outputLabel for="active" value="Activo?:" />
				<p:inputSwitch value="#{courseForm.active}" id="active" />

				<p:outputLabel for="teacherSelect" value="Profesor:" />
				<p:selectOneMenu id="teacherSelect" value="#{courseForm.idTeacher}"
					required="true">
					<f:selectItem itemLabel="Selecione Uno" itemValue="" />
					<f:selectItems value="#{courseForm.teachers}" var="teacher"
						itemLabel="#{teacher.fullName}" itemValue="#{teacher.id}" />
				</p:selectOneMenu>

				<p:outputLabel for="courseName" value="Título:" />
				<p:inputText id="courseName" value="#{courseForm.title}"
					required="true" maxlength="80" />

				<p:outputLabel for="level" value="Nivel:" />
				<p:selectOneMenu id="level" value="#{courseForm.level}"
					required="true">
					<f:selectItem itemLabel="Selecione Uno" itemValue="" />
					<f:selectItem itemLabel="Básico" itemValue="Básico" />
					<f:selectItem itemLabel="Intermedio" itemValue="Intermedio" />
					<f:selectItem itemLabel="Avanzado" itemValue="Avanzado" />
				</p:selectOneMenu>

				<p:outputLabel for="num_horas" value="Nº Horas: " />
				<p:spinner id="num_horas" value="#{courseForm.numHours}" max="500"
					min="25" />

				<p:outputLabel value="Temario (.txt or .doc):" />
				<p:fileUpload id="agenda" value="#{courseForm.agenda}"
					label="Encontar..." mode="simple" skinSimple="true"
					sizeLimit="100000" allowTypes="/(\.|\/)(txt|doc)$/" />

				<p:growl id="messages" showDetail="true" />
				<p:commandButton value="Añadir" ajax="false"
					actionListener="#{courseForm.saveCourse}" />
			</h:panelGrid>
		</p:fieldset>
	</h:form>
</h:body>
</html>